# Prerequisites
*.d

# Compiled Object files
*.o
*.obj

# Static and Dynamic Libraries
*.a
*.lib
*.so
*.dylib

# CMake temporary files and build outputs
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json

# Local build directories
build/
bin/

# Logs and runtime dumps
*.log
consumer--out.log

# IDEs and OS specific files
.vscode/
.idea/
.DS_Store